* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Libre Franklin", "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
}

/**
 * @Chrome
 * SVG Inline spacing Fix
 **/
svg {
	vertical-align:top;
    display:block;
    outline: none;
    padding: 0;
    margin: 0px -1px;
}

body {
    width: 100vw !important;
    height: 100vh !important;
    background: rgb(255,82,107);
    background: -webkit-linear-gradient(-70deg, rgb(251,50,84) 0%, rgb(255,82,107) 100%);
}

header {
    width: 100vw;
    color: #ffffff;
    background: rgb(255,82,107);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

nav {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 200;
    color: #ffffff;
}

main {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 100vw;
    background-color: #ffffff;
}

footer {
    width: 60vw;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 4vmax;
    color: #bf1d3a;
    font-weight: 100;
}

button, .btn {
    color: darkred;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 12px 24px;
    margin:3vw 0vw;
    text-decoration: none;
    overflow:hidden;
	transition: transform 0.05s ease-in-out, box-shadow 0.05s ease;
}

button:hover, .btn:hover {
    box-shadow: rgba(0,0,0,0.1) 0px 2px 12px;
}

button:disabled, .btn:disabled {
	color:#616161;
	background-color:#F5F5F5;
}

button:active, .btn:active {
	transform: scale(0.95);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 22px;
}

.timeline {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.event {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 6vmin 0px;
    text-align: center;
    flex-wrap: wrap;
}

.event:nth-child(even) {
    background-color: rgb(255,250,250);
    flex-wrap: wrap-reverse;
}

.event img {
    flex:none;
    background-color: grey;
    margin: 3vmin;
}

.details {
    flex:5 1;
    font-size: 2.2vmax;
    padding: 12px;
}

.content {
    margin: 3vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}